body
{
    background-color: lightgrey;
}


#questiongrid {
    width: 500px;
    height: 150px;
    margin: 0 auto;
    background-color: blue;
    border-radius: 45px;
    border: 5px solid black;
    padding: 40px 40px 40px 40px;
}

#questiongrid h1 {
    text-align: center;
    color: white;
}

#question {
    text-align: center;
}

.buttonstop {
    text-align: center;
}

#first:hover, #second:hover, #third:hover, #fourth:hover {
    background-color: lightslategrey;
}

#first, #second, #third, #fourth {
    border-radius: 4px;
    border: 2px solid black;
}

.buttonsbottom {
    text-align: center;
}


#nextbottom h1 {
    font-size: 20px;
    color: white;
}




#next {
    width: 100px;
    height: 35px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    display: none;

}
